<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
    	<style type='text/css'>
	    	body { margin: 15px; }
	    	#output { margin-left: 0; display: none; }
	    	#output img { height: 20px; width: 20px; vertical-align: top; }
	    	#error { color: red; font-weight: bold; padding-left: 15px; }
	    	.alert { margin-top: 15px; display: none; }
	    	.form-horizontal .controls { position:relative; top:5px; }​
    	</style>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <div class="brand">Weather</div>
            </div>
          </div>
        </div>

        <form id="weather" class="form-search">
            <input type="text" id="zip" placeholder="Enter a zip code…" class="input-medium search-query">
            <button id="search" type="submit" class="btn">Search</button>
            <div class="alert alert-error"></div>
        </form>

        <table id="output" class="table table-striped">
            <caption>Forecast Results</caption>
            <thead>
                <tr>
                    <th></th><th></th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Temperature</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <script type="text/template" id="forcast-template">
            <td><a class="route" href="/detail/<%= zip %>"><i class="detail icon-search"></i></a></td>
            <td><img src="<%= url %>" /></td>
            <td><%= city %></td>
            <td><%= state %></td>
            <td><%= zip %></td>
            <td><%= temperature %>°F</a></td>
            <td><a href="#"><i class="delete icon-trash"></i></td>
        </script>

        <script type="text/template" id="forecast-detail-template">
            <div class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><%= city %>, <%= state %></h3>
              </div>
              <div class="modal-body">
                <div class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">Temperature</label>
                    <div class="controls"><%= temperature %>°F</div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Feels Like</label>
                    <div class="controls"><%= feelslike %>°F</div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Wind</label>
                     <div class="controls"><%= wind %> MPH</div>
                  </div>
                </div>
              </div>
            </div>
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
